In [1]:
# https://leetcode.com/problems/customers-who-never-order

In [2]:
import numpy as np
import pandas as pd
from io import StringIO

In [3]:
def md_df(md_str: str):
    return pd.read_csv(
        StringIO(md_str.replace(' ', '').replace('-','').strip().strip('|')),  # Get rid of whitespaces
        sep='|'
    ).dropna(
        axis=1,
        how='all'
    )

In [30]:
def find_customers(customers: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    tmp = pd.merge(customers, orders, how="left", left_on="id", right_on="customerId")
    return pd.DataFrame(tmp[tmp['id_y'].isna()]["name"].rename("Customers"))

# More optimize
def find_customers_1(customers: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    x=orders['customerId'].unique()
    tmp=customers[~customers['id'].isin(x)][['name']]
    return pd.DataFrame(tmp["name"].rename("Customers"))

In [6]:
data_customers="""
| id | name  |
| 1  | Joe   |
| 2  | Henry |
| 3  | Sam   |
| 4  | Max   |
"""
data_orders="""
| id | customerId |
| 1  | 3          |
| 2  | 1          |
"""

customers = md_df(data_customers)
orders = md_df(data_orders)

print("customers")
display(customers)

print("orders")
display(orders)

customers

     id   name
NaN   1    Joe
NaN   2  Henry
NaN   3    Sam
NaN   4    Max

orders

     id  customerId
NaN   1           3
NaN   2           1

In [23]:
find_customers(customers, orders)

  Customers
1     Henry
3       Max

In [31]:
find_customers_1(customers, orders)

    Customers
NaN     Henry
NaN       Max