In [ ]:
# https://leetcode.com/problems/duplicate-emails

In [1]:
import numpy as np
import pandas as pd
from io import StringIO

In [2]:
def md_df(md_str: str):
    return pd.read_csv(
        StringIO(md_str.replace(' ', '').replace('-','').strip().strip('|')),  # Get rid of whitespaces
        sep='|'
    ).dropna(
        axis=1,
        how='all'
    )

In [42]:

def duplicate_emails(person: pd.DataFrame) -> pd.DataFrame:
    tmp = person.groupby("email", as_index=False).count().query("id>1")
    return pd.DataFrame(tmp["email"].rename("Email"))


# More optimize
def duplicate_emails_1(person: pd.DataFrame) -> pd.DataFrame:
    tmp = person.loc[person.duplicated(subset=['email']), ['email']]
    return pd.DataFrame(tmp.drop_duplicates()["email"].rename("Email"))

In [39]:
case_1="""
| id | email   |
| 1  | a@b.com |
| 2  | c@d.com |
| 3  | a@b.com |
| 4  | a@b.com |
"""
tmp = md_df(case_1)
tmp

     id    email
NaN   1  a@b.com
NaN   2  c@d.com
NaN   3  a@b.com
NaN   4  a@b.com

In [40]:
duplicate_emails(tmp)

     Email
0  a@b.com

In [43]:
duplicate_emails_1(tmp)

       Email
NaN  a@b.com